# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# log 不需要提交的任意包含后缀名为log的文件
*.log
# Package Files 不需要提交的任意包含后缀名为jar的文件
*.jar
.idea
*.iml
out
gen